<footer>
  
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- build:js -->
<script src="assets/js/bundle.js"></script>
<!-- endbuild -->

</body>
</html>